svg {
	fill: none;
	stroke: black;
}

.top-titles {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

#huc-name-text {
	margin-top: 25px;
}

#chart-title {
	font-weight: bold;
}

.btn {
    width: 110px;
}

.tooltip {
	visibility: hidden;
}

.tooltip_HUC8 {
	position: absolute;
	background: black;
	padding: 4px;
	font: 12px sans-serif;
	color: white;
	opacity: 0.9;
	border: 0px;
	border-radius: 4px;
	visibility: hidden;
}

#legend-box {
	width: 300px;
	border: 1px solid #ccc;
	padding-left: 20px;
	overflow: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text,
.legend text {
    font-family: sans-serif;
    font-size: 13px;
    fill: black;
    stroke: none;
}

.chartLineTS {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chartLineMean {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

#slider-box {
	background-color: #E0E0E0;
	padding: 7px;
}

.slider {
	margin-left: 30px;
}

#yearLabel {
	margin-left: 30px;
}

#button-reset {
	float: right;
}

#map-aquifer-container {
	border: 1px solid #ccc;
	margin-top: 20px;
}

.bounding-box {
	fill: white;
	stroke: #ccc;
	stroke-width: 0px;
}

.conus-states {
	fill: white;
	fill-opacity: 0.0;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.huc8s-fill {
	stroke: black;
	stroke-width: 0px;
}

.huc8s-outline {
	fill: white;
	fill-opacity: 0.0;
}

#credit-line {
	font: 10px serif;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}