svg {
	fill: none;
	stroke: black;
}

.btn {
    width: 110px;
}

.tooltip {
	visibility: hidden;
}

.tooltip_HUC8 {
	position: absolute;
	background: black;
	padding: 4px;
	font: 12px sans-serif;
	color: white;
	opacity: 0.9;
	border: 0px;
	border-radius: 4px;
	visibility: hidden;
}

#popup-chart {
	width: 400px;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 10px;
	overflow: auto;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chartLineA{
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.chartLineB{
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
}

#slider-box {
	background-color: #E0E0E0;
	padding: 7px;
}

.slider{
	margin-left: 30px;
}

#yearLabel {
	margin-left: 30px;
}

#button-reset {
	float: right;
}

#map-aquifer-container{
	border: 1px solid #ccc;
	margin-top: 20px;
}

.bounding-box{
	fill: white;
	stroke: #ccc;
	stroke-width: 0px;
}

.conus-states{
	fill: white;
	fill-opacity: 0.0;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.model-boundary{
	fill: white;
	fill-opacity: 0.0;
	stroke: black;
	stroke-width: 0px;
}

.huc8s-fill{
	stroke: black;
	stroke-width: 0px;
}

.huc8s-outline{
	fill: white;
	fill-opacity: 0.0;
}

#credit-line {
	text-align: right;
	font: 10px serif;
}